# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# Environment variables
.env

# Model artifacts
*.pkl
*.h5
*.joblib
*.sav
